
body.pagina-inicial{
 background-color:  grey;
}


header {
display: flex;
position: relative;
justify-content: space-between;
align-items: center;
gap: 10px;
background-color: white;
padding: 10px;
}

.logo img {
 top: 10px;
 left: 10px;
 width: 80px;
height: auto;
}

.cadastro {
    color: rgb(255, 0, 0);
    font-size: 20px;
    text-decoration: none;
}

body.pagina-cadastro {
background-color: grey;
}





