

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #bdbaba;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: rgb(250, 220, 181);
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
  padding: 70px;
}
 
h2, .campo-nome, .campo-login, .campo-senha, .campo-genero, .campo-estado, .campo-endereço, campo-residencia {
  font-family: "Permanent Marker", cursive;
}


input[type="text"], input[type="email"], input[type="password"], input[type="number"] {
 background-color: #B22222;
 border: 1.8px solid black;
 outline: none;
 border-radius: 7px;
 padding: 0.5rem;
}

input::placeholder {
 color: antiquewhite;
}

input:valid {
 background-color: #B22222;
}

select {
  cursor: pointer;
  background-color: #B22222;
  color: antiquewhite;
  border: 1.8px solid black;
  border-radius: 7px;
  outline: none;
}

button {
  cursor: pointer;
  background-color: #B22222;
  color: antiquewhite;
  border: 1.8px solid black;
  padding: 0.3rem;
  border-radius: 7px;
  outline: none;
}





